//Маленький экран
@media screen and (max-width: 650px)
{
    .marginLeft
    {
       margin-left: 10px;
    }

    .containers
    { 
       width: 50%;
       margin: 0px;
       padding: 0px;
       margin-top: 15px
    }

    #test
    {
        background-color: blue;
    }

    .blocks_3 
    {
        display: block;
        width: 100%;
    }
}

//Средний экран
@media screen and (min-width: 651px) and (max-width: 780px)
{
    .containers
    {
       width: 120px;
       padding: 15px;
       margin: 15px;
    }

    #test
    {
        background-color: yellow;
    }

    .blocks_3
    {
        margin: 0px;
    }

    .marginLeft
    {
       margin-left: 20px;
    }
    
}

@media screen and (min-width: 781px)
{
    .marginLeft
    {
       margin-left: 50px;
    }
}