//Маленький экран
@media screen and (max-width: 650px)
{
    .marginLeft
    {
       margin-left: 10px;
    }

    .containers
    { 
       width: 50%;
       margin: 0px;
       padding: 0px;
       margin-top: 15px
    }

    #slide4 .blocks_3
    {
        width: 100vw;
        text-align: center;
        margin-top: 10px;
    }

    #slide4 .contentAlignRight
    {
        margin-right: auto;
        margin-left: auto;
    }
}

//Средний экран
@media screen and (min-width: 651px) and (max-width: 780px)
{
    .containers
    {
       width: 120px;
       padding: 15px;
       margin: 15px;
    }

    .blocks_3
    {
        margin: 0px;
    }

    .marginLeft
    {
       margin-left: 20px;
    }

    .marginFlex
    {
        text-align: center;
    }

    
}

//Большой экран
@media screen and (min-width: 781px)
{
    .marginLeft
    {
       margin-left: 50px;
    }
}