/****************************************************************************************************
    General styles
*/
input {outline:none;}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i 
{
    color: rgb(231, 230, 230);
    margin: 0;
    padding: 6px;
}

#slide1
{
    max-width: 100vw;
    height: 100vh;
}

#slide2, #slide3
{
    max-width: 100vw;
    height: 120vh;
}

#mainPage
{
    display: none;
}

/****************************************************************************************************
    Slide 1
*/

#slide1
{
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */ 
}

#mainTemperature
{ 
    color :white;
    font-family: 'Advent Pro';
    font-size: 140px;
    margin-left: 50px;
    width: fit-content;
    height: fit-content;
}

#mainIcon
{
    width: 80px;
    height: 80px;
    float: left;
}

#iconText
{
    display: inline-block;
    margin-top: 30px;
    font-family: 'Advent Pro';
    font-size: 20px;
    color: white;
}

#humidityAndPressureBlock
{
    width: fit-content;
    display: block;
    font-size: 28px;
    margin-left: 15px;

}

#mainHumidity
{
    margin-left: 5px;
}

#slide1Content
{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 23vh;
}

#menuButton
{
    margin-right: 0px;
    margin-left: auto;
    width: 100px;
}

#iconDiv
{
    float: left;
}

#mainDescription
{
    margin-left: 50px;
    width: fit-content;
    font-size: 22px;
    font-family: 'Advent Pro';
    color: white;
}



/*
#slide1Content
{
    background-color: red;
}

#mainTemperature
{
    background-color: blue;
}

#humidityAndPressureBlock
{
    background-color: lightgreen;
}

#mainDescription
{
    background-color: coral;
}
*/

/****************************************************************************************************
    Slide 2
*/

#slide2
{
    background-color: black;
}


/****************************************************************************************************
    Slide 3
*/

#slide3
{
    background-color: rgb(27, 26, 26);
}

h1
{
    margin: 0;
    padding-top: 50px;
    font-size: 40px;
    color: rgb(231, 230, 230);
    font-family: 'Advent Pro';
    text-align: center;
}

h2, h3
{
    color: rgb(231, 230, 230);
    padding: 0px;
    text-align: center;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

p{
    color: rgb(231, 230, 230);
}

#flexContentContainer
{
    color: black;   
    width: -webkit-fill-available;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containers
{
    color: white;
    width: 100px;
    height: fit-content;
    padding: 10px;
    font-family: 'Advent Pro';
    font-size: 28px;
}

.containers > p
{
    text-align: center;
}

.containers > button
{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

/****************************************************************************************************
    Slide 4
*/

#slide4
{
    background-color: black;
    max-width: 100vw;
    height: 50vh;
}

#gray
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
}

#menu
{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}